*{
  padding: 0;
  margin: 0;
}
p{
  margin-bottom: 10px;
}
.card{
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 6px;
  display: flex;
  gap: 20px;
}
.card.visited{
  background-color: rgb(190, 180, 180);
  color: #000000;
}
.img-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-wrapper{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}